# exclude all files
*

# except files with extensions and folders.
# (Since, we are working on linux, executables have no extensions, this is the way to exclude them)
!*.*
!*/

# build files
build/
out/

# ignore cache files
.cache/

# ignore leaderboard
data/

# Aly's lazygit file
lazygit
